*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 15px 0px;
    background-color: #add8e6;
}

.container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo,
.log {
    height: 40px;
    flex-grow: 1;
    background-color: #daa520; 
    display: flex;
    align-items: center;
}

.log{
    flex-direction: row-reverse;
}


.menu{
    height: 40px;
    flex-grow: 2;
    display: flex;
    background-color: #daa520;
    align-items: center;
    justify-content: center;    
}

.menu a {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.log,
.logo span{
    padding: 5px 10px;
}

.s_one_box{
    background-color: #00008b;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c_box{
    background-color: #ee82ee;
    width: 40%;
    height: 300px;
    border-radius: 10px;

}



