*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    padding: 15px 0px;
    background-color: #add8e6;
}

.container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.logo,
.log {
    height: 40px;
    flex-grow: 1;
    background-color: #daa520; 
    display: flex;
    align-items: center;
}

.log{
    flex-direction: row-reverse;
}


.menu{
    height: 40px;
    flex-grow: 2;
    display: flex;
    background-color: #daa520;
    align-items: center;
    justify-content: center;    
}

.menu a {
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

.log,
.logo span{
    padding: 5px 10px;
}

.s_one_box{
    background-color: #00008b;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_one_box .c_box{
    background-color: #ee82ee;
    width: 40%;
    height: 300px;
    border-radius: 10px;
}

.s_two_box{
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.s_two_box .c_two_box{
    height: 330px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.c_box_1{
    background-color: #1e90ff;
    flex-grow: 2;
}

.c_box_2{
    background-color: #ffc0cb;
    flex-grow: 1;

}

#bg_gray{
    background-color: #d3d3d3;
}

.s_one_box_big{
    background-color: #d3d3d3;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s_one_box_big .c_box_big{
    background-color: #228b22;
    width: 50%;
    height: 700px;
}


.sf_two_box{
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: #23272a;
}

.sf_two_box .cf_two_box{
    height: 460px;
    width: 50%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.cf_one_box {
    background-color: #f08080;
    width: 30%;
    border-radius: 5px;
}

.cf_four_box{
    background-color: #20b2aa;
    width: 70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}


.cf_box_1{
    border: 1px dotted white;
    width: calc(100% / 4);
}






